:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--clr-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS */
  --clr-main: #646cff;
  --clr-main-dark: #535bf2;
  --clr-white: #ffffff;
  --clr-light: #ececec;
  --clr-gray: #2e2e2e;
  --clr-red: #961818;
  --clr-black: #242424;
}
.mb-3 {
  margin-bottom: 0.3rem;
  padding: 0.5rem;
}
.mb-3 input {
  min-width: 90%;
  height: 1.3rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 0.9px var(--clr-light) solid;
  border-radius: 10px;
}
.mb-3 select {
  min-width: 94%;
  height: 2.5rem;
  margin-top: 0.5rem;
  border: 0.9px var(--clr-light) solid;
  border-radius: 10px;
}
.mb-3 button {
  margin-top: 1rem;
}
.mb-3 #btn-enviar {
  background-color: var(--clr-main-dark);
  color: var(--clr-white);
  font-size: large;
  text-transform: uppercase;
}
.mb-3 #atras {
  background: transparent;
  color: var(--clr-gray);
  opacity: 0.7;
  font-size: medium;
  text-transform: uppercase;
}
.mb-3 #contenedor-botones-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  font-weight: 500;
  color: var(--clr-main);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-main-dark);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--clr-main);
}
main {
  /* display: flex; */
  background-color: var(--clr-white);
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}
aside {
  position: sticky;
  top: 0;
  padding-right: 0;
  height: 100vh;
  background-color: var(--clr-main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.titulo-principal,
.carrito-section {
  color: var(--clr-main);
  margin-bottom: 2rem;
}
/* #app {
  padding: 2rem;
} */
.producto {
  background: var(--clr-white);
  padding: 3rem;
  border-radius: 1.25rem;
  min-width: 46.901rem;
}
.agregarStock {
  background: var(--clr-white);
  padding: 5rem;
  border-radius: 2rem;
  min-width: 37.5rem;
}
.carrito-section {
  background-color: var(--clr-white);
  margin: 1rem;
  margin-left: 2rem;
  border-radius: 1.5rem;
  padding: 3rem;
  min-width: 36.25rem;
}
/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}
.boton-menu {
  background-color: transparent;
  border: 0;
  color: var(--clr-light);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 0.85rem;
  width: 100%;
}
.boton-menu.active {
  background-color: var(--clr-white);
  color: var(--clr-main);
  width: 100%;
  border-radius: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}
.boton-menu.active::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 1rem 0 var(--clr-white);
}
.boton-menu.active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 -1rem 0 var(--clr-white);
}
.bi-hand-index {
  /* transform: rotateZ(90deg); */
  gap: 1rem;
}
.boton-carrito {
  margin-top: 2rem;
}
.numerito {
  background-color: var(--clr-white);
  color: var(--clr-main);
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}
.boton-carrito.active .numerito {
  background-color: var(--clr-main);
  color: var(--clr-white);
}
.contenedor-paginas-menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5em 1em;
}
.botonMenu {
  color: var(--clr-gray);
  display: flex;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.botonMenu:hover {
  color: var(--clr-main-dark);
  background-color: var(--clr-white);
  padding: 0.2rem 0.75rem;
  border-radius: 0.5rem;
}
.opaco {
  opacity: 0.5;
}

/* CARRITO */
.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.carrito-vacio,
.carrito-comprado {
  color: var(--clr-main-dark);
}
.disable {
  display: none !important;
}
.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-light);
  color: var(--clr-main);
  padding: 0.5rem;
  padding-right: 1rem;
  border-radius: 1rem;
}
.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}
.carrito-producto small {
  font-size: 0.75rem;
}
.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}
.carrito-acciones {
  display: flex;
  justify-content: space-between;
}
.carrito-acciones-vaciar,
.carrito-acciones-comprar,
.carrito-acciones-total {
  border-radius: 0.75rem;
  color: var(--clr-main);
  text-transform: uppercase;
  cursor: pointer;
}
.carrito-acciones-comprar {
  background-color: var(--clr-main);
  color: var(--clr-white);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.carrito-acciones-comprar:hover {
  background-color: var(--clr-white);
  color: var(--clr-main);
}
.carrito-acciones-derecha {
  display: flex;
  padding: 0.2rem;
}
.carrito-acciones-total {
  background-color: #f9f9f9;
  display: flex;
  padding: 0.2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.carrito-acciones-total p {
  margin: auto;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  align-items: center;
}
/* LOGO */
.logo {
  /* height: 2em; */
  padding: 0.5em 1em;
  margin: 0px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--clr-white);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* @media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
  }
} */
